build/
.gradle/
out/
resources/certs/*.pem
resources/certs/*.p12
resources/certs/*.pfx
resources/certs/*.key
temp/
scripts/node_modules/
*-vault.properties
.idea/
*.iml
.vscode/
*.log
.DS_Store
scripts/perf/node_modules/
results/perf/
logs/
.run/
*.pptx
